table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgb(196, 190, 190);
}

thead {
    background-color: aqua;
}

button {
    margin-right: 10px;
    border-radius: 5px;
}

.read {
    background-color: aquamarine;
    border-color: aquamarine ;
}

.update{
    background-color: rgb(33, 176, 219);
    border-color:  rgb(33, 176, 219) ;
}

.delete{
    background-color: rgb(198, 198, 241);
    border-color:   rgb(198, 198, 241) ;
}

.details {
    background-color: rgb(231, 163, 14);
    border-color:   rgb(231, 163, 14) ;
}

.add{
    margin-top: 10px;
    background-color: pink;
    border-color: pink;
}

.details-modal{
    background-color: rgb(241, 177, 253);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    font-style: italic;
}

.book-img{
    width:5%;
    height: 5%;
    
    margin-left: 20%;
}



.hidden{
    display: none;
}

.filter{
   margin-bottom: 10px; 
}

