.main-header{
    display: flex;
    height: 130px;
    background-color: #292929;

}

.header-logo{
    font-family: eurofurence;
    color: #ffffff;
    font-size: 1.875em;
    letter-spacing: -0.03333;
}

.header-logo .logo-dot{
   color: #58C93A;
}

.footer-logo{
    font-family: eurofurence;
    color:black;
    font-size: 1.875em;
    letter-spacing: -0.03333;
}

.footer-logo .logo-dot{
    color: #58C93A;
 }

